{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="container d-flex p-2 mt-2">
 <div class="shadow p-3 mb-5 bg-white rounded border">

    <h4>Home Landing Page </h4> 
    <h5>Task: </h5> 

    <p>Importing a CSV list of results for a race</p>
    <p>Calculate the average finish time and placement of runners</p>
    <p>Display the list accordingly</p>
    <p>Ability to edit a result</p>
    
 </div>
</div>
{% endblock %}
